@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

body {
  color: #716E74;
  font-family: "Source Sans Pro", sans-serif;
}

body.nav-open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-open .site-header, .nav-open .section--hero {
  background-color: unset;
}

hr {
  margin: 0;
}

[class*=col-] {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Source Serif Pro", serif;
  color: #444147;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

p {
  font-size: 19px;
  margin-bottom: 0;
  color: #444147;
}

section {
  margin-bottom: 50px;
}

footer,
header,
main,
nav,
section {
  display: block;
  scroll-behavior: smooth !important;
}

a {
  color: #716E74;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  color: unset;
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-auto {
  margin-left: auto !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.dis-flex {
  display: flex !important;
}

.dis-inline-flex {
  display: inline-flex !important;
}

.align-center {
  align-items: center;
}

.section__title h1 {
  margin-bottom: 50px;
  line-height: 1;
}

/*............Header...........*/
#wrapper {
  padding-top: 118px;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1040px;
  padding-left: 15px;
  padding-right: 15px;
}

.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  background-color: #fff;
  transition: all 0.25s ease-in;
}

.site-header .header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header .header-wrap .site-logo img {
  height: 82px;
  max-width: 220px;
}

.site-header .header-wrap .nav-bar {
  padding-top: 10px;
  position: relative;
  line-height: 4.3;
}

.site-header.active {
  box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.15);
}

.site-header.active .header-wrap .nav-bar {
  padding-top: 0;
  line-height: 3.8;
}

.site-header.active.site-header .header-wrap .nav-bar .secondary-nav ul li a::after {
  height: 5px;
}

.site-header .header-wrap .nav-bar .top-nav,
.site-header .header-wrap .nav-bar .secondary-nav,
.site-header .header-wrap .nav-bar .top-nav ul,
.site-header .header-wrap .nav-bar .secondary-nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.site-header .header-wrap .nav-bar .top-nav ul {
  min-width: 635px;
}

.site-header .header-wrap .nav-bar .top-nav ul li {
  margin-left: 15px;
  line-height: 2.3;
}

.site-header .header-wrap .nav-bar .top-nav ul li a {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 15px;
}

.site-header .header-wrap .nav-bar .top-nav ul li a::after,
.site-header .header-wrap .nav-bar .secondary-nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 5px;
  z-index: 5;
  background-color: #FFA93A;
}

.site-header .header-wrap .nav-bar .top-nav ul li:hover a::after,
.site-header .header-wrap .nav-bar .secondary-nav ul li:hover a::after {
  width: 100%;
}

.site-header .header-wrap .nav-bar .secondary-nav ul li a::after {
  height: 9px;
}

.site-header .header-wrap .nav-bar .top-nav ul li:last-child a {
  padding-right: 0;
}

.site-header .header-wrap .nav-bar .top-nav .btn--call {
  margin-left: 25px;
}

.site-header .header-wrap .nav-bar .top-nav .btn--call a {
  color: #035954;
  padding: 10px 15px;
}

.fa.fa-phone {
  margin-right: 4px;
}

.site-header .header-wrap .nav-bar .top-nav .btn--call a:hover, .site-header .rightside-menu .site-bar-btn .btn-secondary:hover {
  background-color: #f5f5f5;
}

.site-header .header-wrap .nav-bar .secondary-nav ul li,
.site-header .header-wrap .nav-bar .top-nav ul li {
  position: relative;
}

.site-header .header-wrap .nav-bar .secondary-nav ul li a {
  font-size: 16px;
  font-weight: 600;
  padding: 25px 16px;
}

.site-header .header-wrap .nav-bar .top-nav ul li .sub-menu,
.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu_three-child .sub-menu-bonds,
.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu_three-child:hover .sub-menu-bonds .sub-menu-chil .title::after,
.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu-children .sub-menu-bonds,
.site-header .header-wrap .nav-bar .top-nav ul li .sub-menu li a::after,
.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu_three-child:hover .sub-menu-bonds .sub-menu-chil .sub-menu-children li a::after,
.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu-children .sub-menu-bonds .sub-menu-chil .sub-menu-children li a::after {
  display: none;
}

.site-header .header-wrap .nav-bar .top-nav ul li .sub-menu li {
  margin-left: 0;
  line-height: 1.2;
}

.site-header .header-wrap .nav-bar .top-nav ul li .sub-menu li a,
.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu-children .sub-menu-bonds .sub-menu-chil .sub-menu-children li a {
  display: block;
  padding: 0;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 9px;
}

.site-header .header-wrap .nav-bar .top-nav ul li .sub-menu li a:hover,
.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu_three-child:hover .sub-menu-bonds .sub-menu-chil .title:hover,
.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu_three-child:hover .sub-menu-bonds .sub-menu-chil .sub-menu-children li a:hover,
.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu-children .sub-menu-bonds .sub-menu-chil .sub-menu-children li a:hover {
  text-decoration: underline;
  color: #444147;
}

.site-header .header-wrap .nav-bar .top-nav ul li:hover .sub-menu {
  display: block;
  position: absolute;
  left: -50px;
  top: 38px;
  min-width: 250px;
  z-index: 9;
  background-color: #fff;
  padding: 32px 46px;
  box-shadow: 10px 20px 30px 0 rgba(0, 0, 0, 0.15);
}

.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu_three-child:hover .sub-menu-bonds {
  position: absolute;
  left: -40px;
  display: flex;
  align-items: flex-start;
  width: 700px;
  -moz-column-gap: 10%;
       column-gap: 10%;
  -moz-column-count: 3;
       column-count: 3;
  padding: 40px 0 60px;
}

.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu_three-child:nth-child(2) .sub-menu-bonds {
  left: -85px;
  -moz-column-gap: 8%;
       column-gap: 8%;
  width: 735px;
}

.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu_three-child:hover .sub-menu-bonds .sub-menu-chil {
  line-height: 2;
}

.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu-children:hover .sub-menu-bonds .sub-menu-chil .sub-menu-children {
  display: block;
  line-height: 1.5;
}

.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu-children:hover .sub-menu-bonds {
  position: absolute;
}

.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu_three-child:hover .sub-menu-bonds .sub-menu-chil .title,
.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu_three-child:hover .sub-menu-bonds .sub-menu-chil .sub-menu-children li a {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 700;
  font-family: "Source Serif Pro", serif;
  margin-bottom: 9px;
  display: inline-block;
}

.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu_three-child:hover .sub-menu-bonds .sub-menu-chil .sub-menu-children,
.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu-children:hover .sub-menu-bonds {
  display: block;
  line-height: 2;
}

.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu_three-child:hover .sub-menu-bonds .sub-menu-chil .sub-menu-children li a {
  font-size: 15px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
}

.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu_three-child:hover .sub-menu-bonds::before,
.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu-children .sub-menu-bonds::before {
  content: "";
  display: block;
  width: 200vw;
  height: 100%;
  position: absolute;
  left: -100vw;
  margin: 0;
  top: 0;
  z-index: -1;
  padding: 30px 0;
  background-color: #fff;
  border-top: 1px solid rgba(113, 110, 116, 0.3);
}

.site-header .header-wrap .nav-bar .secondary-nav ul .sub-menu-children .sub-menu-bonds {
  position: absolute;
  left: 0;
  right: 0;
  padding: 40px 0 60px;
  min-width: 195px;
}

.btn-primary {
  background-color: #FFA93A;
  color: #444147;
  padding: 10px 15px;
}

.btn-primary:hover {
  background-color: #db9131;
  color: #444147;
}

.site-header .header-wrap .nav-bar .top-nav .btn--call a,
.btn-primary {
  display: inline-block;
  text-transform: uppercase;
  min-width: 150px;
  height: 38px;
  text-align: center;
  line-height: 1.2;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  transition: none;
}

.site-header .menu-toggle {
  position: relative;
  width: 32px;
  height: 40px;
  display: none;
}

.site-header .menu-toggle span {
  position: absolute;
  width: 28px;
  height: 4px;
  background-color: #424b5a;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.site-header .menu-toggle span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #424b5a;
  display: block;
  top: 10px;
  left: 0;
  transition-property: top, transform;
  transition-delay: 0.5s, 0s;
  transition-duration: 0.5s, 0.5s;
}

.site-header .menu-toggle span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #424b5a;
  display: block;
  top: -10px;
  left: 0;
  transition-property: top, transform;
  transition-delay: 0.5s, 0s;
  transition-duration: 0.5s, 0.5s;
}

.site-header .btn--phone {
  position: relative;
  background-color: #035954;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 17px;
  display: none;
}

.site-header .btn--phone i {
  position: absolute;
  top: 9px;
  left: 11px;
  color: #fff;
}

.site-header .rightside-menu {
  position: fixed;
  top: 0;
  right: -1400px;
  width: 95vw;
  height: 100%;
  background-color: #fff;
  color: #716E74;
  overflow: auto;
  z-index: 9999;
  transition: 0.4s all;
}

.rightside-menu.nav-open {
  right: 0;
}

.site-header .rightside-menu .header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.site-header .rightside-menu .header_content img {
  max-width: 120px;
  height: auto;
}

.site-header .rightside-menu .header_content .close-btn i {
  font-size: 30px;
}

.site-header .rightside-menu .first-menu li {
  border-bottom: 1px solid rgba(113, 110, 116, 0.3);
  margin: 16px;
}

.site-header .rightside-menu .first-menu li a {
  display: block;
  color: #444147;
  font-weight: 700;
  padding: 15px 0;
  font-size: 20px;
  font-family: "Source Serif Pro", serif;
}

.site-header .rightside-menu .first-menu li .first-menu-child li, .site-header .rightside-menu .first-menu .child_only li,
.site-header .rightside-menu .first-menu .first-menu-children:last-child li {
  margin: 0;
  border: none;
}

.site-header .rightside-menu .first-menu li .first-menu-child li a {
  font-family: inherit;
  color: #716E74;
}

.site-header .rightside-menu .first-menu li .first-menu-child li .first-menu-children li a, .site-header .rightside-menu .first-menu .child_only li a, .site-header .rightside-menu .first-menu .first-menu-children:last-child li a {
  padding-left: 16px;
  padding-right: 16px;
  color: #716E74;
  font-weight: 400;
  font-family: inherit;
}

.site-header .rightside-menu .first-menu li a::after {
  content: "";
  position: absolute;
  right: 18px;
  background: url(/assests/images/close.svg) no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
}

.site-header .rightside-menu .first-menu li .first-menu-child li .first-menu-children li a::after,
.site-header .rightside-menu .first-menu .child_only li a::after,
.site-header .rightside-menu .first-menu .first-menu-children:last-child li a::after {
  display: none;
}

.site-header .rightside-menu .site-bar-btn .btn-primary {
  padding: 15px 16px;
  border-radius: 6px;
  height: 40px;
  min-width: 160px;
  font-size: 20px;
  line-height: 0.5;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*............section--hero...........*/
.section--hero, .hero__content-bg-cover {
  background: url(/assests/images/hero-homepage.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  min-height: 545px;
  position: relative;
}

.section--hero [class*=col-] {
  padding-right: 10px;
  padding-left: 10px;
}

.section--hero .hero__content {
  position: relative;
}

.section--hero .hero__content::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 89, 84, 0.9);
  left: 0;
}

.section--hero .hero__content .hero__card {
  position: relative;
  z-index: 1;
  padding: 89px 50px;
  margin-right: -10px;
}

.section--hero .hero__content .hero__card h1 {
  font-size: 4rem;
  line-height: 1.14;
  margin-bottom: 30px;
  color: #fff;
}

.section--hero .hero__content .hero__card p {
  text-align: justify;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 30px;
}

.section--hero .hero__content .hero__card .btn-grp {
  margin-bottom: 30px;
}

.section--hero .hero__content .hero__card .btn-grp .btn-primary {
  margin-right: 25px;
  min-width: 160px;
  height: 45px;
  border-radius: 6px;
  line-height: 1.7;
  font-size: 16px;
}

.btn-secondary {
  background-color: #fff;
  color: #035954;
}

.btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #035954;
}

.hero__content-bg-cover {
  display: none;
  min-height: 218px;
  width: 100%;
  height: 100%;
}

/*............section--services...........*/
.section--services .services-block {
  max-width: 270px;
  margin: 0 auto 24px auto;
}

.section--services .services-block h2 {
  font-size: 30px;
  line-height: 1.3;
  max-width: 290px;
  margin: 28px auto 20px;
}

.section--services .services-block p {
  font-size: 18px;
  padding-bottom: 32px;
  color: #716E74;
  line-height: 1.6;
}

/*............section--info...........*/
.section--info {
  background: #f5f5f5;
  padding: 50px 0;
}

.section--info .row {
  justify-content: space-between;
}

.section--info .info__text p {
  text-align: justify;
  margin-bottom: 30px;
}

.section--info .info__text .checklist li {
  position: relative;
  margin-bottom: 1em;
  padding-left: 45px;
}

.section--info .info__text .checklist li span {
  font-size: 20px;
  color: rgb(68, 65, 71);
}

.section--info .info__text .checklist li::before {
  content: "✔";
  position: absolute;
  left: 0;
  background-color: #035954;
  border-radius: 50%;
  color: white;
  height: 28px;
  width: 28px;
  padding-left: 6px;
  font-size: 19px;
}

.section--info .info__text .checklist li a {
  font-size: 20px;
  color: #30827B;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.learn-more:hover, .read-blog:hover {
  text-decoration: underline;
  color: #035954;
}

.section--info .info__text .checklist li a:hover {
  text-decoration: none;
  color: #035954;
}

.learn-more, .read-blog {
  color: #035954;
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 30px;
  line-height: 25px;
}

.section--info .info__image img {
  max-width: 500px;
  height: 400px;
}

.learn-more::after, .read-blog::after {
  content: "🡢";
  margin-left: 8px;
  font-size: 15px;
  color: #035954;
}

/*............section--testimonial...........*/
.section--testimonial .section__title h1 {
  font-weight: 400;
}

.section--testimonial .container {
  max-width: 920px;
  cursor: grab;
}

.section--testimonial .testimonial__slider {
  margin: 0 auto;
}

.section--testimonial .testimonial__slider .card_slider {
  border: 1px solid #cfd9db;
  background-color: #fff;
  box-shadow: 5px 5px 10px 0px rgba(150, 150, 150, 0.3) !important;
  padding: 20px;
  min-height: 250px;
  min-width: 420px;
  position: relative;
  margin: 5px 10px 5px 5px;
}

.section--testimonial .testimonial__slider .card_slider .testimonial-image {
  margin-right: 10px;
}

.section--testimonial .testimonial__slider .card_slider .testimonial-image img {
  width: 60px;
  height: 60px;
}

.section--testimonial .testimonial__slider .card_slider .testimonial-details .google-map_icon {
  background: url(/assests/images/sprite-google-places.png) no-repeat;
  background-position: -7px -65px;
  background-size: 200px 94px;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 22px;
  width: 22px;
}

.section--testimonial .testimonial__slider .card_slider .testimonial-details h5 {
  font-family: inherit;
  font-size: 1em;
  color: #5d6f80;
  line-height: 1.3;
  margin: 0 0 2.5px;
}

.section--testimonial .testimonial__slider .card_slider .testimonial-details .star-image {
  margin-bottom: 5px;
  background: url(/assests/images/sprite-google-places.png) no-repeat;
  background-size: 200px 94px;
  background-position: -10px -10px;
  height: 18px;
  width: 90px;
}

.section--testimonial .testimonial__slider .card_slider .testimonial-details p {
  font-size: 75%;
  line-height: 1.3;
  color: #5d6f80;
  margin-bottom: 10px;
}

.section--testimonial .testimonial__slider .card_slider p {
  line-height: 1.5;
  color: #5d6f80;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 400;
}

.section--testimonial .testimonial__slider .card_slider p a {
  color: #035954;
  text-decoration: underline;
}

.section--testimonial .testimonial__slider .card_slider p a:hover {
  text-decoration: none;
}

.section--testimonial .testimonial__slider .slick-dots li {
  height: 10px;
  width: 10px;
}

.section--testimonial .testimonial__slider .slick-dots li button {
  height: 10px !important;
  width: 10px !important;
}

.section--testimonial .testimonial__slider .slick-dots li button:before {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #035954;
}

.section--testimonial .testimonial__slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: unset;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 0.2;
}

.section--testimonial .testimonial__slider .slick-dots {
  position: unset;
  margin-top: 5px;
}

/*............section--benifits...........*/
.section--benifits {
  background: url(/assests/images/background-light.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 0;
}

.section--benifits .benifits__logo img {
  height: 220px;
  width: 220px;
}

.section--benifits .benifits__info h1 {
  font-size: 45px;
  line-height: 1.28;
}

.section--benifits .benifits__info p {
  margin-bottom: 40px;
  margin-right: -5px;
}

.section--benifits .benifits__info a {
  margin-bottom: 0;
}

/*............section--partners...........*/
.section--partners h1 {
  line-height: 1;
  font-weight: 400;
  margin-bottom: 50px;
}

.section--partners .partners__logo img {
  width: 133px;
  margin-bottom: 24px;
}

/*............section--news...........*/
.section--news {
  background-color: #EDF4F4;
  padding: 50px 0;
}

.section--news .section__title h1 {
  text-align: left;
  line-height: 1.28;
}

.section--news .news__card {
  box-shadow: 10px 0px 30px 0px rgba(3, 89, 84, 0.2);
  margin-right: -8px;
}

.section--news .news__card .news-image {
  background: url(/assests/images/news-image.jpg) no-repeat;
  background-position: center;
  min-height: 252px;
}

.section--news .card__blog .news-image, .section--news .card__blog .news__detail {
  box-shadow: 10px 0px 30px 0px rgba(3, 89, 84, 0.2);
}

.section--news .news__card .news__detail {
  padding: 46px 29px 22px 29px;
  background-color: #fff;
}

.section--news .news__card .news__detail h5 {
  line-height: 1.4;
  font-size: 22px;
  margin-bottom: 5px;
}

.section--news .news__card .news__detail p, .section--news .card__blog .news__detail p {
  line-height: 1.8;
  color: #716E74;
  margin-bottom: 13px;
}

.section--news .news__card .news__detail .read-blog {
  margin-top: 10px;
}

.section--news .card__blog .row {
  margin-bottom: 30px;
}

.section--news .card__blog .news-image {
  background: url(/assests/images/news-blog.webp) no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
}

.section--news .card__blog .news-image_blog {
  background: url(/assests/images/news-blog-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.section--news .card__blog .news__detail {
  padding: 40px 15px 20px 15px;
  background-color: #fff;
  margin-right: -10px;
}

.section--news .card__blog .news__detail .read-blog, .section--news .read-blog, .section--news .news__card .news__detail .read-blog {
  margin-bottom: 0;
}

.section--news .card__blog .news__detail h5 {
  font-size: 1.375rem;
  line-height: 1.5;
  margin: 0;
}

.section--news .card__blog .news__detail p {
  margin: 5px 0 13px;
  line-height: 1.5;
}

/*............section--contact...........*/
.section--contact .container {
  background: url(/assests/images/ct-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px;
}

.section--contact .contact__text {
  max-width: 740px;
  margin: 0 auto;
}

.section--contact .contact__text h1 {
  line-height: 1.28;
  color: #fff;
  font-weight: 400;
}

.section--contact .contact__text p, .section--contact .btn-grp {
  color: #fff;
  margin-bottom: 30px;
}

.section--contact .btn-grp {
  font-size: 20px;
}

.section--contact .btn-grp .btn-primary {
  min-width: 160px;
  min-height: 45px;
  line-height: 1.7;
  border-radius: 6px;
  font-size: 16px;
  margin-right: 25px;
}

.section--contact .btn-secondary {
  margin-left: 25px;
}

/*............Footer...........*/
.site-footer {
  padding-top: 43px;
}

.site-footer .row {
  padding-bottom: 110px;
}

.site-footer [class*=col-]:nth-child(4), .site-footer [class*=col-]:nth-child(8) {
  border-left: 1px solid #EDF4F4;
  padding-right: 10px;
}

.site-footer .footer__text {
  margin-bottom: 50px;
}

.site-footer .footer__links h6 {
  margin-bottom: 24px;
  line-height: 1.5;
  font-size: 20px;
}

.site-footer .footer__links h6 a, .site-footer .footer__text ul li a:hover, .site-footer .footer__text p a:hover, .site-footer .sub__footer .footer__link p a:hover, .site-footer .sub__footer .footer__link ul li a:hover {
  color: #444147;
}

.site-footer .footer__links h6 a:hover, .site-footer .footer__text ul li a:hover, .site-footer .footer__text p a:hover, .site-footer .sub__footer .footer__link p a:hover, .site-footer .sub__footer .footer__link ul li a:hover {
  text-decoration: underline;
}

.site-footer .footer__text h6 {
  color: #716E74;
  font-family: inherit;
  margin-bottom: 10px;
  line-height: 1.5;
}

.site-footer .footer__text ul li {
  line-height: 1.5;
}

.site-footer .footer__text ul li + li {
  margin-top: 12px;
}

.site-footer .footer__text p, .site-footer .footer__text p a, .site-footer .footer__text ul li a, .site-footer .sub__footer .footer__link p, .site-footer .sub__footer .footer__link ul li a {
  font-size: 15px;
}

.site-footer .footer__text:first-child {
  padding-top: 50px;
}

.site-footer .footer__text p {
  color: inherit;
  margin-bottom: 10px;
}

.site-footer .footer_block {
  margin-left: 43px;
}

.site-footer .footer_block .footer__text {
  margin-bottom: 49px;
}

.site-footer .sub__footer .footer__link p {
  color: inherit;
}

.site-footer .footer_block .footer__links ul {
  margin: 14px 0 16px;
}

.site-footer .footer_block .footer__links ul li + li {
  margin-left: 30px;
}

.site-footer .footer_block .footer__links ul li a i {
  color: #005953;
  font-size: 1.5rem;
}

.site-footer .sub__footer {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.site-footer .sub__footer .footer__link ul li:not(:last-child) {
  border-right: 1px solid #d4d3d5;
}

.site-footer .sub__footer .footer__link:nth-child(1) {
  margin-right: -10px;
}

.site-footer .sub__footer .footer__link ul li {
  padding: 0 12px;
}

/*.........Responsive css...........*/
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .site-header .header-wrap .nav-bar .secondary-nav ul, .site-header .header-wrap .nav-bar .top-nav .btn--call a, .site-header .btn-primary span:not(:last-child) {
    display: none;
  }
  .site-header .header-wrap .nav-bar .top-nav .btn--call {
    margin-left: 0;
  }
  .site-header .menu-toggle, .site-header .btn--phone {
    position: relative;
    display: block;
  }
  .site-header .btn-primary, .site-header .header-wrap .nav-bar .top-nav ul li a {
    min-width: unset;
    font-size: 16px;
    line-height: 1;
  }
  .site-header .header-wrap .nav-bar .top-nav ul li {
    margin-left: 20px;
  }
  .site-header .header-wrap {
    padding-bottom: 10px;
  }
  .section--hero {
    background-size: unset;
  }
  .section--services .services-block {
    max-width: unset;
  }
  .section--info .info__image img {
    max-width: 100%;
    height: auto;
  }
  .section--testimonial .container {
    max-width: 800px;
  }
  .section--testimonial .testimonial__slider .card_slider {
    max-width: 372px;
    min-width: unset;
    min-height: 275px;
  }
  .section--news .news__card .news-image {
    min-height: 280px;
    background-size: cover;
  }
  .section--news .news__card .news__detail {
    padding: 46px 29px;
  }
  .section--contact .contact__text {
    max-width: 620px;
  }
}
@media (max-width: 991px) {
  .container, .section--testimonial .container {
    max-width: 720px;
  }
  .site-header .header-wrap .nav-bar .top-nav ul {
    min-width: unset;
    display: none;
  }
  .site-header .header-wrap .site-logo img {
    max-width: 120px;
    height: auto;
  }
  .site-header .header-wrap .site-logo {
    padding-top: 10px;
  }
  #wrapper {
    padding-top: 60px;
  }
  .section--hero .hero__content .hero__card h1 {
    font-size: 34px;
  }
  .section--hero .hero__content .hero__card {
    padding: 150px 50px;
    margin-right: 0;
  }
  .section--hero .col-md-7 {
    width: 73.333333%;
  }
  .section--services .services-block h2 {
    font-size: 19px;
  }
  .section--info .info__text h1, .section__title h1, .section--benifits .benifits__info h1, .section--contact .contact__text h1 {
    font-size: 30px;
  }
  .section--testimonial .testimonial__slider .card_slider {
    min-height: 300px;
  }
  .section--benifits .benifits__info p {
    margin-bottom: 16px;
  }
  .section--benifits .benifits__logo img {
    height: 146px;
    width: 146px;
    margin-bottom: 10px;
  }
  .section--news .news__card .news-image {
    min-height: 317px;
  }
  .section--news .news__card .news__detail h5 {
    font-size: 21px;
  }
  .section--news .news__card .news__detail {
    padding: 23px;
  }
  .section--news .card__blog .news__detail {
    padding: 20px 15px;
  }
  .section--contact .contact__text {
    max-width: unset;
  }
  .section--contact .container {
    padding: 60px 15px;
  }
  .site-footer .footer_block {
    margin-left: 0;
  }
  .site-footer [class*=col-]:nth-child(4), .site-footer [class*=col-]:nth-child(8) {
    border: none;
    padding-left: 15px;
  }
  .site-footer .sub__footer {
    display: block;
  }
  .site-footer .sub__footer .footer__link ul {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .container, .section--testimonial .container {
    max-width: 540px;
  }
  .section--hero {
    background: none;
    background-color: #035954;
    min-height: unset;
  }
  .section--hero .hero__content .hero__card {
    padding: 50px 25px;
    text-align: center;
  }
  .section--hero .container {
    max-width: 767px;
  }
  .section--hero .container, .section--hero .col-md-7 {
    padding-left: 0;
    padding-right: 0;
  }
  .pr-0 {
    padding-right: 15px !important;
  }
  .pl-0 {
    padding-left: 15px !important;
  }
  .section--hero .col-md-7 {
    width: 100%;
  }
  .section--hero .hero__content .hero__card .btn-grp {
    display: inline-grid;
    margin-bottom: 0;
  }
  .section--hero .hero__content .hero__card .btn-grp .btn-primary, .section--hero .hero__content .hero__card h1 {
    margin-right: 0;
    margin-bottom: 13px;
  }
  .section__title h1, section, .section--news .news__card {
    margin-bottom: 30px;
  }
  .section--info, .section--benifits, .section--news {
    padding: 30px 0;
  }
  .section--testimonial .testimonial__slider .card_slider {
    min-height: 428px;
  }
  .section--news .news__card .news-image, .section--news .card__blog .news-image {
    min-height: 305px;
  }
  .section--news .news__card .news__detail {
    padding: 29px;
  }
  .section--news .news__card, .section--news .card__blog .news__detail {
    margin-right: 0;
  }
  .section--partners .partners__logo {
    text-align: center;
  }
  .section--contact .btn-grp .btn-primary {
    margin: 10px 0;
    width: 100%;
  }
  .section--news .card__blog .news-image, .section--news .card__blog .news__detail {
    box-shadow: 10px 15px 30px 0px rgba(3, 89, 84, 0.2);
  }
  .section--testimonial .section__title h1 {
    font-weight: 600;
  }
  .hero__content-bg-cover {
    display: block;
    margin-bottom: 30px;
  }
  .section--hero {
    margin-bottom: 0;
  }
}
@media (max-width: 575px) {
  .section--info .info__image img, .learn-more {
    margin-bottom: 10px;
  }
  .section--benifits .benifits__logo img {
    height: 220px;
    width: 220px;
  }
  .site-footer .footer__text {
    margin-bottom: 30px;
  }
  .site-footer .footer__text:first-child {
    padding-top: 20px;
  }
  .site-footer .row {
    padding-bottom: 70px;
  }
  .site-footer .sub__footer, .site-footer .sub__footer .footer__link:nth-child(1) {
    text-align: center !important;
    margin-right: 0;
  }
  .section--news .news__card .news-image, .section--news .card__blog .news-image {
    min-height: 225px;
  }
  .site-header .rightside-menu .site-bar-btn .btn-primary, .site-header .rightside-menu .site-bar-btn .btn-secondary {
    width: 93%;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 639px) {
  .section--testimonial .testimonial__slider .card_slider {
    max-width: initial;
    min-height: 280px;
  }
}
@media (max-width: 425px) {
  .site-header .btn--phone {
    margin: 0 10px;
  }
  .section--testimonial .testimonial__slider .card_slider {
    min-height: 320px;
  }
  .site-footer .sub__footer .footer__link p, .site-footer .sub__footer .footer__link ul li a {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .section--testimonial .testimonial__slider .card_slider {
    min-height: 360px;
  }
  .btn-primary {
    padding: 10px;
  }
}
.section--since .since__info {
  max-width: 900px;
  margin: 0 auto;
}
.section--since .since__info h1 {
  line-height: 1;
  margin-bottom: 50px;
}
.section--since .since__info p {
  text-align: justify;
  margin-bottom: 30px;
}

.section--history .container {
  max-width: 900px;
}
.section--history .history__text h1 {
  font-weight: 400;
  line-height: 1.28;
}
.section--history .history__text p {
  text-align: justify;
  padding-bottom: 30px;
}

.about-services {
  background: #EDF4F4;
  padding: 50px 0;
}
.about-services .services__cards .services-block p {
  text-align: justify !important;
}

.about-testimonial {
  background: #EDF4F4;
  padding: 50px 0;
  margin-bottom: 0;
}
.about-testimonial .testimonial__slider .card_slider {
  box-shadow: none !important;
}

.section--associations .associations_text h1 {
  line-height: 1;
  margin-bottom: 50px;
}
.section--associations .row {
  display: flex;
  align-items: center;
}
.section--associations .association_logo img {
  margin-bottom: 24px;
}

@media (max-width: 1200px) {
  .section--since .since__info {
    max-width: 770px;
  }
  .section--history .container {
    max-width: 830px;
  }
  .about-services .services-block {
    max-width: 270px;
    margin: 0 auto;
  }
}
@media (max-width: 991px) {
  .section--since .since__info h1, .section--history .history__text h1 {
    font-size: 30px;
  }
  .section--since .since__info p {
    font-size: 18px;
  }
  .section--history .container {
    max-width: 720px;
  }
  .section--associations .associations_text h1 {
    font-size: 30px;
  }
  .section--associations .association_logo img {
    max-width: 150px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .section--since .since__info h1 {
    margin-bottom: 30px;
  }
  .section--history .container {
    max-width: 530px;
  }
  .section--history .history__text h1 {
    font-weight: 700;
  }
  .about-services, .about-testimonial {
    padding: 30px 0;
  }
  .about-services .services-block {
    max-width: 450px;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 440px) {
  .section--associations .association_logo img {
    max-width: 115px;
  }
}
.section--video .watching_video iframe {
  min-height: 276px;
  width: 490px;
}
.section--video .video__text h1 {
  font-weight: 400;
  line-height: 1.28;
}
.section--video .video__text p {
  text-align: justify;
  margin-right: -20px;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .section--video .watching_video iframe {
    min-height: 255px;
    width: 448px;
  }
}
@media (max-width: 992px) {
  .section--video .watching_video iframe {
    min-height: 183px;
    width: 326px;
  }
  .section--video .video__text h1 {
    font-size: 26px;
  }
  .section--video .video__text p {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .section--video .watching_video iframe {
    min-height: 137px;
    width: 238px;
  }
}
@media (max-width: 575px) {
  .section--video .watching_video iframe {
    min-height: 220px;
    width: -webkit-fill-available;
  }
  .section--video .video__text h1 {
    font-weight: 700;
  }
}
@media (max-width: 425px) {
  .section--video .watching_video iframe {
    min-height: 192px;
  }
}
@media (max-width: 375px) {
  .section--video .watching_video iframe {
    min-height: 160px;
  }
}
.section--inner-hero, .hero__content_bg {
  background: url(/assests/images/hero-about.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 364px;
  position: relative;
}
.section--inner-hero .hero__content, .hero__content_bg .hero__content {
  position: relative;
  margin-right: -10px;
}
.section--inner-hero .hero__content::before, .hero__content_bg .hero__content::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 89, 84, 0.9);
  left: 0;
}
.section--inner-hero .hero__content .hero__card, .hero__content_bg .hero__content .hero__card {
  position: relative;
  z-index: 1;
  padding: 141px 50px;
}
.section--inner-hero .hero__content .hero__card h1, .hero__content_bg .hero__content .hero__card h1 {
  font-size: 65px;
  color: #fff;
  line-height: 1.14;
}

.hero__content_bg {
  display: none;
}

.section--mission {
  background: url(/assests/images/mahel.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.section--payments, .hero__content_bg {
  background: url(/assests/images/hero-payments.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1200px) {
  .section--inner-hero {
    background-size: unset;
    height: auto;
  }
  .section--inner-hero .hero__content .hero__card {
    padding: 120px 50px;
  }
}
@media (max-width: 991px) {
  .section--inner-hero .hero__content .hero__card h1 {
    font-size: 34px;
  }
  .section--inner-hero .hero__content .hero__card {
    padding: 158px 50px;
  }
  .section--mission .container .mission__text h1 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .section--inner-hero {
    background: none;
    background-color: #035954;
    margin-bottom: 0;
  }
  .section--inner-hero .container, .section--inner-hero [class*=col-] {
    max-width: unset;
    padding-left: 0;
    padding-right: 0;
  }
  .section--inner-hero .hero__content .hero__card {
    padding: 60px 50px;
    text-align: center;
  }
  .hero__content_bg {
    display: block;
    height: 210px;
    margin-bottom: 30px;
  }
}
.section--mission {
  min-height: 770px;
  display: inline-flex;
  align-items: flex-end;
  position: relative;
}
.section--mission .mission__text {
  max-width: 920px;
  margin: 0 auto;
  padding: 80px 0;
}
.section--mission .mission__text h1, .section--mission .mission__text p {
  line-height: 1.28;
  color: #fff;
  font-weight: 400;
  position: relative;
}
.section--mission .mission__text p {
  margin-bottom: 30px;
  line-height: 1.6;
}
.section--mission .mission__text::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  background-color: rgba(3, 89, 84, 0.9);
  left: 0;
  bottom: 0;
}

@media (max-width: 767px) {
  .section--mission {
    min-height: 660px;
  }
  .section--mission .mission__text::before {
    height: 63%;
  }
  .section--mission .container .mission__text h1 {
    font-weight: 700;
  }
}
@media (max-width: 440px) {
  .section--mission .mission__text::before {
    height: 67%;
  }
}
@media (max-width: 379px) {
  .section--mission .mission__text::before {
    height: 76%;
  }
}
@media (max-width: 333px) {
  .section--mission .mission__text::before {
    height: 81%;
  }
}
.section--contribution {
  background-color: #035954;
  padding: 50px 0;
}
.section--contribution .row {
  display: flex;
  align-items: center;
}
.section--contribution .row .contribution_text h3,
.section--contribution .row .contribution__block .prg-count,
.section--contribution .row .contribution__block p {
  color: #fff;
  line-height: 1.5;
  font-size: 28px;
}
.section--contribution .row .contribution__block .prg-count {
  line-height: 1.28;
  font-size: 50px;
}
.section--contribution .row .contribution__block .prg-count::after {
  content: "+";
}
.section--contribution .row .contribution__block p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  margin-bottom: 30px;
}
.section--contribution .row .col-md-3 {
  width: 22.2%;
  height: auto;
  position: relative;
}
.section--contribution .row .col-md-3:not(:first-child):not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 991px) {
  .section--contribution .row .contribution__block .prg-count {
    font-size: 30px;
  }
  .section--contribution .row .contribution_text h3 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .section--contribution {
    padding: 30px 0;
  }
}
@media (max-width: 575px) {
  .section--contribution .row .contribution_text h3 {
    text-align: center;
  }
  .section--contribution .row .col-md-3 {
    width: 100%;
  }
  .section--contribution .row .col-md-3:not(:first-child):not(:last-child) {
    margin-bottom: 25px;
  }
  .section--contribution .row .col-md-3:not(:first-child):not(:last-child)::after {
    width: 100px;
    bottom: 0;
    top: auto;
    height: 1px;
    right: calc(50% - 50px);
  }
}
.section--payments .hero__content::before {
  height: 364px;
}
.section--payments .hero__content .hero__card {
  padding: 93px 50px;
}
.section--payments .hero__content .hero__card h1 {
  font-size: 63px;
  margin-bottom: 30px;
}
.section--payments .hero__content .hero__card .btn-primary {
  font-size: 17px;
  height: 45px;
  line-height: 1.5;
  border-radius: 6px;
  margin-bottom: 30px;
}

.section--thank-you .thank-you_text h2 {
  line-height: 1.25;
  font-size: 40px;
  max-width: 920px;
  margin: 0 auto 8px auto;
}

.section-cards {
  display: -webkit-box;
}
.section-cards [class*=col-] {
  margin-bottom: 24px;
}
.section-cards .payment__option {
  padding: 28px 30px 32px 30px;
  width: 100%;
  height: 100%;
  box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.section-cards .payment__option img {
  margin-bottom: 32px;
}
.section-cards .payment__option p {
  text-align: justify;
  font-size: 18px;
  color: #716E74;
  line-height: 1.6;
}
.section-cards .payment__option a {
  display: inline-flex;
  font-size: 19px;
  font-weight: 500;
  color: #30827B;
  text-decoration: underline;
}
.section-cards .payment__option a:hover {
  text-decoration: none;
  color: #035954;
}

.section-cards .row:nth-child(2) .payment__option h3 {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .section--payments .hero__content::before {
    height: 100%;
  }
  .section--payments .hero__content .hero__card {
    padding: 75px 50px;
  }
  .section--thank-you .thank-you_text h2 {
    max-width: 770px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 991px) {
  .section--payments .hero__content .hero__card h1 {
    font-size: 34px;
  }
  .section--payments .hero__content .hero__card {
    padding: 127px 50px;
  }
  .section--thank-you .thank-you_text h2 {
    font-size: 26px;
  }
  .section-cards .payment__option h3 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .section--payments .hero__content .hero__card {
    padding: 50px 46px;
  }
  .section-cards .payment__option p,
  .section-cards .payment__option {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */